/* src/assets/main.css */

/* Import Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------------------------------------------
   Animasi Scroll (Fade & Slide from Bottom)
   Digunakan untuk efek ketika elemen masuk ke viewport
---------------------------------------------- */

.before-enter {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.enter {
  opacity: 1;
  transform: translateY(0);
}
